html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}

/*HEADER*/
header {
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 245, 245);

}

header h1 {

}

/*navigation menu*/
header nav {
    display: flex;
    justify-items: center;
}
header nav ul {
    padding: 0;
    display: flex;
    flex-direction: column; /*gepen mashogy*/
}

header nav ul li {

    font-size: large;
    margin: 10px;
    list-style-type: none;
    text-align: center;
}

header nav ul li a {
    color: black;
    padding: 5px;
    font-size: 25px;
}
header nav ul li a#current, a:hover {

    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color:rgb(70, 70, 70);
    transition: linear, 0.3s;
}


/*Content*/
.container {
    display: flex;
}





/*footer*/
footer {
    background-color:rgb(70, 70, 70);
    width: 100%;
    border-top: 2px solid black;



    /*Flex*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    /*Text style*/
    color: rgb(215, 215, 215);

}
.contact p a{
    color: rgb(215, 215, 215);
}

.contact a:hover {
    background-color: rgb(215, 215, 215);
    color:rgb(70, 70, 70);
}
.social img:hover {
    transform: scale(1.1);
    transition: ease .2s;
}

.icon {
    width: 10%;
    margin-right: 10px;
    margin-left: 10px;
}



@media screen and (min-width: 800px) {
    
}